@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import './scss/main';

/* base styles */

* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #333;


/* sub navbar */
}
.subnavbar {
  padding: 8px;
  display: flex;
  background-color: #696969;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px;
}
.subnavbar p {
  color: white;
  padding: 10px;
}
.subnavbar .links {
  margin-left: auto;
}

.subnavbar p:hover {
  color: #f1356d;
  border: 1px dashed black;
}
.nav-item :hover {
  color: #f1356d;
}
.content {
  padding: 0px;
  padding-top: 40px;
}




/* navbar */
.navbar {
  padding: 20px;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: white;
}
.navbar h1 {
  color: #696969;
}
.nav-link {
  margin-left: 1px;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 5px;
}
.navbar a:hover {
  color: #f1356d;
}



/* table styles */ 
.tombs-list {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  width: 100%;
}

.tombs-list h2 {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.tombscreen h2:hover {
  color: #f1356d;
}
.tombscreen {
  margin-top: 3%;
}
/* home page */

.homepage {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  max-width: 600px;
  margin-top: 5%;
}
.homepage img {
  width: 150px;
  height: 200px;
  border-style: solid;
}

.homepage img:hover {
  filter: blur(4px);
  border: 1px dashed #f1356d;
}

section {
  margin: 10%;
}

