.bibstuff {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.intro-bib {
    padding: 10px;
    padding-top: 30px;
}
.gridstuff {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bibgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0px;
    grid-column-gap: 0px; 
}
.bibtitle{
    border: 1px dashed #f1686d;
}
.bibbox {
    border: 1px dashed black;
}

.bib-full button {
    border: 1px dashed black;
    justify-content: center;
    align-items: center;
}

