.fullblog {
    display: flex;
}
.blogTitle {
    position: fixed;
    background-color: white;
    border: 1px dashed black;
    border-bottom: 2px dashed #f1356d;
    text-align: center;
    margin-left: 10%;
    top: 75px;
    width: 80%;
    padding: 5px;
}
.bcontent {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 8%;
}
.para h3 {
    padding: 5px;
    border: .5px dashed #f1356d;
}
.body {
    margin: 2%;
}
.body img {
    border: 1px solid black;
}