/* blog preview */
.blogls {
    margin-top: 3%;
}
.blogchart {
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    border-bottom: 1px solid #fafafa;
}
.blogchart h2:hover {
    border: 2px dashed #f1686d;
}
.blogchart h2{
    font-size: 20px;
    border: 1px dashed black;
    padding: 5px;
} 
.blogchart h2 p {
    font-size: small;
}
