/* standard gridbox styles */
.fullbox {
    display: inline;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.aboutsection {
    text-align: center;
    display: inline-block;
    padding: 20px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}
.extra {
    display: inline;
    padding-bottom: 30px;
}
.gridbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title {
    display: flex;
    padding: 20px;
}
.title p {
    border: 1px dashed #f1686d;
    padding: 5px;
}
.grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 2fr);
}
.header {
    display: inline;
}
.inner {
    border: 1px dashed black;
    padding: 5px;
}
.butts p{
    border: 1px dashed black;
    padding: 4px
}
.butts p:hover {
    cursor: pointer;
    border: 2px dashed #f1686d;
}

/* userdash gridbox styles */


/* universal icon and invisible statements */
.icon{
    font-size: 40px;
}
.invisible {
    display: none;
}