/* standard gridbox styles */
.fullbox {
    display: flex;
}
.anddeet {
    display: inline;
    padding: 20px;
}
.aboutsection {
    text-align: center;
    display: inline-block;
    padding: 20px;
    padding-left: 20%;
    padding-right: 20%;
}
/* gridbox title */
.title {
    display: flex;
    padding: 5px;
}
.title p {
    border: 1px dashed #f1686d;
    padding: 10px;
}
/* the actual gridbox */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}
.header {
    display: inline;
}
.inner {
    border: 1px dashed black;
    padding: 5px;
}
.butts p{
    border: 1px dashed black;
    padding: 4px
}
.butts p:hover {
    cursor: pointer;
    border: 2px dashed #f1686d;
}

/* userdash gridbox styles */
.deet {
    width: 300px;
    height: 200px;
    position: absolute;
    right: 10.5%;
    top: 50%;
    overflow: auto;
    text-align: center;
    background-color: white;

}
.grid-deet {
    border: 2px dashed black;
}
.head {
    border: 1px solid black;
    background-color: #f1686d;
    width: 301px;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 10px;
    position: fixed;
    top: 43%;
    right: 10.5%;
    text-align: center;
    justify-content: baseline;
}
.line {
    padding-top: 8px;
    padding-bottom: 2px;
    border: 1px dashed black;
}
.line :nth-child(even) {
    background-color: #f2f2f2;
}


/* universal icon and invisible statements */
.icon{
    font-size: 40px;
}
.invisible {
    display: none;
}