@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotateY(360deg);
    }
}
 
.myprofile {
    z-index: 99;
    margin-top: 12%;
    right: 4.9%;
    border: 1px dashed greenyellow;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
} 
.smmyprofile .icon{
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: rgba(1, 131, 1, 0.801);
    border-radius: 10px;
}

.usernavbar {
    display: flex;
    border: 1px solid greenyellow;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.user-nav-link {
    padding: 2px;
    text-decoration: none;
}
.user-nav :hover{
    background-color: greenyellow;
    border-radius: 10px;
    text-decoration: none;
}
.nav-icon .icon{
    animation: spin 5s infinite linear;
    border-radius: 10px;
}
.nav-icon :hover{
    border: 1px solid rgba(1, 131, 1, 0.801);
    border-radius: 10px;
    background-color: greenyellow;
}
.signout-butt {
    text-decoration: none;
}

