@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotateY(360deg);
    }
}

.babelReg .icon {
    font-size: 90px;
    margin-right: 7px;
    top: 2px;
    animation: spin 5s infinite linear;
}
.babelReg {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}
.mainform {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    max-width: 600px;
}
.mainform input {
    padding: 10px;
    border: 1px dashed black;
}
.mainform input :hover {
    border: 2px dashed #f1686d;
}
.submit {
    background-color: #f1686d;
}
.ablities {
    padding: 3px;
    font-size: 30px;
    border: 1px dashed black;
}
.ablities .i {
    padding: 5px;
    border: 1px dashed black;
}
.ablities .i :hover {
    background-color: #f1686d;
}


.ablities p {
    font-size: medium;
}
.ability {
    border: 1px solid black;
} 



