
.toolstuff {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.toolbar {
    display: flex;
    font-size: small;
    justify-content: center;
}
.toolbar h2 {
    border: 1px dashed #f1686d;
    padding: 10px;
}
.tbar {
    display: flex;
    justify-content: center;
}
.OCR-full button,
.transcript-full button,
.translate-full button {
    border: 1px dashed black;
    justify-content: center;
    align-items: center;
}
.OCR-full button:hover,
.transcript-full button:hover,
.translate-full button:hover {
    border: 1px dashed #f1686d;
}
.OCR-inner,
.transcript-inner,
.translate-inner {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px dashed black;
}
.icon {
    align-items: center;
    padding: 10px;
    font-size: 30px;
}
/* find a way to align this with the div above it */
.ocr-stuff,
.transcribe-stuff,
.translate-stuff{
    display: flex;
    justify-content: center;
}
.ocr-title,
.transcribe-title,
.translate-title {
    border: 1px dashed #696969;
}
.info {
    border: 1px dashed #696969;
}
.translate-stuff {
    background-color: #f1686d;
}
.stranslate-title {
    background-color: #f1686d;
}
.invisible {
    display: none;
}


