.underconstruction {
    display: flex;
    justify-content: center;
}
.ucborder {
    border: 1px dashed rgb(114, 0, 0);
    background-color: rgb(255, 161, 161);
    padding: 50px;
    border-radius: 10px;
}
.ucborder p{
    color: rgb(114, 0, 0)
}
.uc {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.ucb {
    border: 1px dashed rgb(255, 161, 161);
    border-radius: 10px;
    background-color: green;
}
