@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotateY(360deg);
    }
}
.userspine-full {
    position: absolute;
    height: 90%;
    width: 98%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profile-nav .icon {
    font-size: 300%;
    margin-right: 0;
    top: 0;
    animation: spin 5s infinite linear;
}
.profile-nav {
    position: fixed;
    top: .50%;
    right: .50%;
    padding: 5px;
    border: 3px dashed greenyellow;
    background-color: white;
}
.dashboard-main {
    margin-top: 5%;
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border: 1px dashed black;
    border-radius: 10px;
    padding: 5%;
}
.dashcontnet {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}
.a-dash {
    padding: 30px;
}
.a-cont {
    text-align: center;
    font-size: large;
    border: 1px dashed black;
    border-radius: 10px;
}
.a-cont p {
    padding: 10px;
}
.buttons {
    border: 1px dashed black;
    border-radius: 10px;
}
.buttons :hover {
    border: 2px dashed greenyellow;
    border-radius: 10px;
}

/* styles for user dash pages */
.usermodel {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border: 2px dashed greenyellow}

/* styles for userRoleSelector */
.rotator {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    display: inline;
    text-align: center;
    justify-content: center;
}
.rotator .roles {
    display: flex;
    padding: 20px;
    justify-content: center; 
}
.rotator .roles .role{
    border: 1px dashed black;
    padding: 10px;
    margin: 10px;
}
.rotator .roles .role:hover {
    border: 2px dashed greenyellow
}
/* styles for user-dash-main-pages */
.user-page {
    display: flex;
    margin-top: 2.5%;
    margin-left: 2.5%;
    height: 85%;
    width: 95%;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px dashed black;
    border-radius: 15px;
    vertical-align: middle;
}
.user-page-head {
    height: 98%;
    width: 80%;
    overflow-y: auto;
    margin-right: 40px;
}
.user-page-sidebar {
    height: 98%;
    width: 15%;
    overflow-y: auto;
}
.cust-user-sidebar {
    border: 1px dashed black;
    border-radius: 10px;
    margin-top: 25%;
    height: 60%;
    overflow-y: auto;
}
.cursor-nav {
    display: flex;
    margin-top: .5%;
    margin-left: .5%;
    margin-bottom: .5%;
    text-align: center;
}
.usr-head {
    display: flex;
    justify-content: space-evenly;
    height: 92%;
}
.usr-head-left {
    width: 15%;
    border: 1px dashed black;
    border-radius: 10px;
    overflow-y: auto;
}
.usr-head-main {
    width: 68%;
    border: 1px dashed greenyellow;
    border-radius: 10px;
    overflow-y: auto;
}
.usr-head-right {
    width: 15%;
    border: 1px dashed black;
    border-radius: 10px;
    overflow-y: auto;
}
.usr-head-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}