.userspine-full {
    background-color: #212322;
    display: flex;
    border: 1px dashed #49544d;
}
.dashboard-main {
    margin-top: 5%;
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding: 1rem;
}
.dashboard-main h1 {
    color: rgb(228, 228, 228);
    font-size: 1rem;
    padding: 1rem;
    border: 1px dashed #49544d;
    border-radius: 1rem 1rem 1rem;
}
.dashcontnet {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    border: 1px dashed #49544d;
    border-radius: 1rem 1rem 1rem;
    padding: 1rem;
}
.a-dash {
    padding: 30px;
    color: rgb(228, 228, 228);
}
.a-dash p{
    color: rgb(228, 228, 228);
    font-size: 1rem;
}
.a-cont {
    text-align: center;
    font-size: large;
    border: 1px dashed #49544d;
    border-radius: 1rem 1rem 1rem;

}
.a-cont p {
    padding: 10px;
}
.buttons {
    border: 1px dashed rgb(111, 142, 65);
    border-radius: 1rem 1rem 1rem;
    color:rgb(228, 228, 228)
}
.buttons :hover {
    border: 1px dashed #2fdf75;
    border-radius: 1rem 1rem 1rem;
    color: #2fdf75;
}

/* styles for user dash pages */
.usermodel {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border: 2px dashed #2fdf75;
}

/* styles for userRoleSelector */
.rotator {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    display: inline;
    text-align: center;
    justify-content: center;
}
.rotator .roles {
    display: flex;
    padding: 20px;
    justify-content: center;
}
.rotator .roles .role{
    border: 1px dashed black;
    padding: 10px;
    margin: 10px;
}
.rotator .roles .role:hover {
    border: 2px dashed #2fdf75
}