
/* left side */
.userprof-left {
    display: inline;
    background-color: transparent;
}
.userprof-left p {
    padding: 5px;
    background-color: transparent;
    margin-top: 5px;
}
.options-panel {
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.options-panel p:hover{
    display: flex;
    justify-content: center;
    background-color: greenyellow;
    border-radius: 10px;
    width: fit-content;
}
.options-panel p {
    border: 1px solid #aaa;
    border-radius: 10px;
}

/* right side */
.userprof-right {
    display: inline;
    background-color: transparent;
}
.userprof-right p {
    padding: 5px;
    background-color: transparent;
    margin-top: 5px;
}
.userprof-left .right-title {
    border-bottom: 1px solid #aaa;
}
.userprof-right .right-title {
    border-bottom: 1px solid #aaa;
}
.options-panel-right {
    margin-top: 30px;
    justify-content: center;
    display: flex;
}
.options-panel-right p {
    border: 1 px solid #aaa;
    border-radius: 10px;
}
.options-panel-right p:hover {
    display: flex;
    justify-content: center;
    background-color: greenyellow;
    border-radius: 10px;
}
.option p {
    border: 1px solid #aaa;
    border-radius: 10px;
} 

/* main */
.userprof-main {
    display: inline;
    
}
.userprof-main .right-title {
    border-bottom: 1px solid #aaa;
}
.show-cur-user {
    display: inline;
    height: 80%;
}   
.cur-username {
    display: flex;
    align-items: center;
}
.show-cur-username {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px;
}
.show-cur-username h2 {
    margin-right: 10px;
}
.edit-cur-username {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 10px;
    padding: 5px;
}    
.submit-useredits {
    border-radius: 10px;
    border: none;
    margin-top: 10%;
}
.submit-ed {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 10px;
}
.submit-useredits :hover {
    background-color: greenyellow;
}
.user-birdview {
    margin-left: 10%;
}
.edit-cur-username select {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #aaa;
}
.edit-cur-username :hover{
    background-color: greenyellow;
    border-radius: 10px;
}
.edit-cur-username input {
    background-color: transparent;
    border: 1px solid #aaa;
    border-radius: 10px;
}

select.decorated option:hover {
    background-color: red;
}

  
