@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotateY(360deg);
    }
}
.userspine-full {
    display: flex;
    position: absolute;
    height: 80%;
    width: 99.9%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid greenyellow;
    border-radius: 10px;
    margin-top: 2%;
}
.dashboard-main {
    border: 1px dashed black;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.userspine-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px dashed black;
    border-radius: 10px;
}
.userspine-header h1 {
    padding: 10px;
}
.dashitem {
    display: inline;
    width: 50%;
    align-items: center;
    text-align: center;
}
.a-dash {
    border: 1px dashed black;
    margin: 10px;
    border-radius: 10px;
}
.buttons p{
    border: 1px dashed #aaa;
    border-radius: 10px;
    margin: 10px;
    width: 20%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
.buttons p:hover {
    background-color: greenyellow;
}




/* styles for user-dash-main-pages */
.user-page {
    display: flex;
    margin-top: 2.5%;
    margin-left: 2.5%;
    height: 85%;
    width: 95%;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px dashed black;
    border-radius: 15px;
    vertical-align: middle;
}
.user-page-head {
    height: 98%;
    width: 80%;
    overflow-y: auto;
    margin-right: 40px;
}
.user-page-sidebar {
    height: 98%;
    width: 15%;
    overflow-y: auto;
}
.cust-user-sidebar {
    border: 1px dashed black;
    border-radius: 10px;
    margin-top: 25%;
    height: 60%;
    overflow-y: auto;
}
.cursor-nav {
    display: flex;
    margin-top: .5%;
    margin-left: .5%;
    margin-bottom: .5%;
    text-align: center;
}
.usr-head {
    display: flex;
    justify-content: space-evenly;
    height: 92%;
}
.usr-head-left {
    width: 15%;
    border: 1px dashed black;
    border-radius: 10px;
    overflow-y: auto;
}
.usr-head-main {
    width: 68%;
    border: 1px dashed greenyellow;
    border-radius: 10px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.usr-head-right {
    width: 15%;
    border: 1px dashed black;
    border-radius: 10px;
    overflow-y: auto;
}
.usr-head-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.user-headbutt {
    border-radius: 10px;
    width: 20px;
    align-items: center;
    justify-content:center;
    text-align: center;
    border: 1px solid #aaa;
}
.user-headbutt :hover{
    background-color: greenyellow;
    border-radius: 10px;
    width: 20px;
    align-items: center;
    justify-content:center;
    text-align: center;
    border: green;
}