/* left side */
.userprof-left {
    display: inline;
    background-color: transparent;
}
.userprof-left p {
    padding: 5px;
    background-color: transparent;
    margin-top: 5px;
}
.options-panel {
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.options-panel p:hover{
    display: flex;
    justify-content: center;
    background-color: greenyellow;
    border-radius: 10px;
    width: fit-content;
}

/* right side */
.userprof-right {
    display: inline;
    background-color: transparent;
}
.userprof-right p {
    padding: 5px;
    background-color: transparent;
    margin-top: 5px;
}
.userprof-left .right-title {
    border-bottom: 1px solid #aaa;
}
.userprof-right .right-title {
    border-bottom: 1px solid #aaa;
}
.options-panel-right {
    margin-top: 30px;
    justify-content: center;
    display: flex;
}
.options-panel-right p:hover {
    display: flex;
    justify-content: center;
    background-color: greenyellow;
    border-radius: 10px;
    width: fit-content;
}

/* main */
.userprof-main {
    display: inline;
}
.userprof-main .right-title {
    border-bottom: 1px solid #aaa;
}
.show-cur-user {
    margin-top: 10px;
    border: 1px solid black;
}   