$lightuser-background: #f8f8f8;
$lightuser-border-main: #0c0c0c;
$lightuser-border-sub: #aaa;
$lightuser-base: #a2f12b;
$lightuser-text: #0c0c0c;

$darkuser-background: #28262b;
$darkuser-focus-background: #322e36;
$darkuser-border-main: #a2f12b;
$darkuser-border-sub: #aaa;
$darkuser-base: #a2f12b;
$darkuser-text: #93d430;

$light-background: #f8f8f8;
$light-border-main: #0c0c0c;
$light-border-sub: #aaa;
$light-base: #f1356d;
$light-text: #0c0c0c;

$dark-background: #28262b;
$dark-focus-background: #322e36;
$dark-focus-backdark: #1e1922;
$dark-border-main: #e76e93;
$dark-border-sub: #aaa;
$dark-base: #e76e93;
$dark-text: #e4c3cd;