@import '../scss/colors';
* {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    
  }

.light{

    .app {
        background-color: $light-background;
        color: $light-text;
    }
}

.lightuser {
    .app {
        background-color: $lightuser-background;
        color: $lightuser-text;
    }
}

.dark {
    position: absolute;
    height: 100%;
    display: inline;
    background-color: $dark-background;
    color: $dark-text;
    font-size: medium;
    .app {
        color: $dark-text;
    }
    .icon{
        font-size: 40px;
    }
    .invisible {
        display: none;
    }

    /* scroll bar */
    ::-webkit-scrollbar {
        background-color: $dark-focus-background;
        width: 15px;
        margin-left: 5px;
        border-radius: 10px;
        border: 1px solid $dark-focus-backdark;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $dark-base;
        border-radius: 10px;
    }
    
    /* handle forms */
    .form-headers {
        padding: 5px;
        width: 100%;
        height: 90%;
    }
    .form {
        display: flex;
    }
    .form-headers h1 {
        color: $dark-base;
    }
    input {
        background-color: $dark-focus-background;
        border: none;
        border-radius: 10px;
        margin: 3px;
        color: $dark-text;
    }
    input :focus {
        border: none;
    }


    /*handle links*/
    .clicked :hover {
        color: $dark-base;
    }
    .link {
        color: $dark-text;
        text-decoration: none;
        padding: 5px;
    }
    button {
        margin-left: 10px;
        margin-right: 10px;
        background-color: transparent;
        border: none;
        color: $dark-text;
        font-size: medium;
    }

    /*handle navbars*/
    .navbar {
        display: flex;
        margin: 10px;
        align-items: center;
        .navbar :hover {
            color: $dark-base;
        }
        .link-title {
            color: $dark-text;
            text-decoration: none;
            padding: 10px;
        }
    }
    /* nav-bar when logged in */
    .logged-in-nav {
        .navbar {
            display: flex;
            margin: 10px;
            align-items: center;
        }
        .navbar :hover {
            color: $darkuser-base;
        }
        .link {
            color: $darkuser-text;
        }
        color: $darkuser-text;
        background-color: $darkuser-background;
    }

    /*handle user-icon*/
    .user-icon {
        border: 1px dashed $dark-base;
        border-radius: 10px;
        height: fit-content;
        width: fit-content;
        animation: spin 5s infinite linear;
    }
    /* handle nav - icon */
    .nav-icon {
        padding: 5px;
        .icon {
            color: $darkuser-base;
            border: 1px solid $darkuser-base;
            border-radius: 10px;
            padding: 5px;
            animation: spin 5s infinite linear;
        }
    }
    .nav-icon :hover {
        background-color: $darkuser-base;
        border: 1px solid $darkuser-border-sub;
        color: $dark-focus-backdark;
    }
    

    

    
}

.darkuser {
    .app {
        background-color: $dark-background;
        color: $darkuser-text;
        display: inline;
    }
}

/* things to standardize: 

- forms
-  buttons 
- links
- icons
- user-icons
- nav bars

*/

