@import './colors';

.dark {
    .blog-option {
        padding: 5px;
    }
    .blog-page {
        border: 1px solid $dark-base;
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        background-color: $dark-focus-backdark;
    }
    .blog-option p {
        width: fit-content;
    }
    .blog-option h2:hover {
        color: $dark-base;
    }

    /* blog body */
    .fullblog {
        display: flex;
        background-color: $dark-background;
    }
    .blogTitle {
        position: fixed;
        border: 1px dashed $dark-base;
        text-align: center;
        margin-left: 10%;
        top: 2px;
        width: 80%;
        padding: 25px;
        background-color: $dark-focus-backdark;
    }
    .bcontent {
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 5%;
        overflow-y: auto;
    }
    .para h3 {
        padding: 5px;
    }
    .body {
        margin: 2%;
    }
    .body img {
        background-color: $dark-focus-background;
    }
}
.light {
    .blog-option {
        padding: 5px;
    }
    .blog-page {
        border: 1px solid $light-base;
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        background-color: $light-focus-backdark;
    }
    .blog-option p {
        width: fit-content;
    }
    .blog-option h2:hover {
        color: $light-base;
    }

    /* blog body */
    .fullblog {
        display: flex;
        background-color: $light-background;
    }
    .blogTitle {
        position: fixed;
        border: 1px dashed $light-base;
        text-align: center;
        margin-left: 10%;
        top: 2px;
        width: 80%;
        padding: 25px;
        background-color: $light-focus-backdark;
    }
    .bcontent {
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 5%;
        overflow-y: auto;
    }
    .para h3 {
        padding: 5px;
    }
    .body {
        margin: 2%;
    }
    .body img {
        background-color: $light-focus-background;
    }
}
.lightuser {
    .blog-option {
        padding: 5px;
    }
    .blog-page {
        border: 1px solid $lightuser-base;
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        background-color: $lightuser-focus-backdark;
    }
    .blog-option p {
        width: fit-content;
    }
    .blog-option h2:hover {
        color: $lightuser-base;
    }

    /* blog body */
    .fullblog {
        display: flex;
        background-color: $lightuser-background;
    }
    .blogTitle {
        position: fixed;
        border: 1px dashed $lightuser-base;
        text-align: center;
        margin-left: 10%;
        top: 2px;
        width: 80%;
        padding: 25px;
        background-color: $lightuser-focus-backdark;
    }
    .bcontent {
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 5%;
        overflow-y: auto;
    }
    .para h3 {
        padding: 5px;
    }
    .body {
        margin: 2%;
    }
    .body img {
        background-color: $lightuser-focus-background;
    }
}
.darkuser {
    .blog-option {
        padding: 5px;
    }
    .blog-page {
        border: 1px solid $darkuser-base;
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        background-color: $darkuser-focus-backdark;
    }
    .blog-option p {
        width: fit-content;
    }
    .blog-option h2:hover {
        color: $darkuser-base;
    }

    /* blog body */
    .fullblog {
        display: flex;
        background-color: $darkuser-background;
    }
    .blogTitle {
        position: fixed;
        border: 1px dashed $darkuser-base;
        text-align: center;
        margin-left: 10%;
        top: 2px;
        width: 80%;
        padding: 25px;
        background-color: $darkuser-focus-backdark;
    }
    .bcontent {
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 5%;
        overflow-y: auto;
    }
    .para h3 {
        padding: 5px;
    }
    .body {
        margin: 2%;
    }
    .body img {
        background-color: $darkuser-focus-background;
    }
}
.darkmolly {
    .blog-option {
        padding: 5px;
    }
    .blog-page {
        border: 1px solid $darkmolly-base;
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        background-color: $darkmolly-focus-backdark;
    }
    .blog-option p {
        width: fit-content;
    }
    .blog-option h2:hover {
        color: $darkmolly-base;
    }

    /* blog body */
    .fullblog {
        display: flex;
        background-color: $darkmolly-background;
    }
    .blogTitle {
        position: fixed;
        border: 1px dashed $darkmolly-base;
        text-align: center;
        margin-left: 10%;
        top: 2px;
        width: 80%;
        padding: 25px;
        background-color: $darkmolly-focus-backdark;
    }
    .bcontent {
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 5%;
        overflow-y: auto;
    }
    .para h3 {
        padding: 5px;
    }
    .body {
        margin: 2%;
    }
    .body img {
        background-color: $darkmolly-focus-background;
    }
}
.mummy {
    .blog-option {
        padding: 5px;
    }
    .blog-page {
        border: 1px solid $mummy-base;
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
        background-color: $mummy-focus-backdark;
    }
    .blog-option p {
        width: fit-content;
    }
    .blog-option h2:hover {
        color: $mummy-base;
    }

    /* blog body */
    .fullblog {
        display: flex;
        background-color: $mummy-background;
    }
    .blogTitle {
        position: fixed;
        border: 1px dashed $mummy-base;
        text-align: center;
        margin-left: 10%;
        top: 2px;
        width: 80%;
        padding: 25px;
        background-color: $mummy-focus-backdark;
    }
    .bcontent {
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 5%;
        overflow-y: auto;
    }
    .para h3 {
        padding: 5px;
    }
    .body {
        margin: 2%;
    }
    .body img {
        background-color: $mummy-focus-background;
    }
}