@import './colors';

.light {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: $light-background;
    color: $light-text;

    .homepage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5%;
    width: 50%;
}
    .homepage img {
    width: 150px;
    height: 200px;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    }
    
    .homepage img:hover {
    filter: blur(4px);
    border: 5px dashed $light-base;
    border-radius: 10px;
    }
}

.dark {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: $dark-background;
    color: $dark-text;

    .homepage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5%;
    width: 50%;
}
    .homepage img {
    width: 150px;
    height: 200px;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    }
    
    .homepage img:hover {
    filter: blur(4px);
    border: 5px dashed $dark-base;
    border-radius: 10px;
    }
}
